@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    height: 50px;
    background-color: #F96E5B;
    display: flex;
}

.brand {
    font-weight: bold;
    font-size: x-large;
    margin: 10px 50px;
    color: white;
    cursor: pointer;
}

.links {
    text-decoration: none;
    font-size: large;
    color: white;
    font-size: 120%;
}

.divLinks {
    vertical-align: middle;
    margin: auto;
    margin-right: 50px;
    letter-spacing: 0.5px;
}

.create {
    max-width: 400px;
    margin: 30px auto;
    text-align: center;
  }
  .create label {
    font-size: 110%;
    text-align: left;
    display: block;
  }
  .create h1 {
    margin-bottom: 30px;
  }
  .create input {
    width: 100%;
    padding: 6px 10px;
    margin: 20px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
  }
  .create button {
    background: #F96E5B;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    letter-spacing: 1px;
    font-size: large;
    cursor: pointer;
  }

  .create form {
    margin-top: 30px;
  }

  .star {
    color: red;
    font-size: 110%;
  }
